<!DOCTYPE html>
<html>
  <head>
    <title>Nicaraguaverde</title>
    <%= csrf_meta_tags %>

    <!-- Pendiente revisar los parametros que estaban en aplication y cambiaron a default -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="navbar">
    <ul>
      <li><%= link_to "Inicio", root_path %></li>
      <li><%= link_to "Articulos", controller: "articles" %></li>
      <li><a href="#">Galeria</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
